{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{!-- {{#get 'posts' limit='all'}}
{{#group posts by='function (item) {  var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; return monthNames[(new Date(item.published_at).getMonth())]+" "+(new Date(item.published_at)).getFullYear(); } '}}
    <b>{{ key }} </b>
    <br>
    {{#each items}}
    <span>
        {{#if featured}}
        <span class='fa fa-star'></span>
        {{/if}}
        {{date published_at format="MMM DD, YYYY"}}:&nbsp;
        <a href="{{url}}">{{title}} </a>
    </span>
    <br>
    {{/each}}
{{/group}}
{{/get}} --}}

{{!-- The main content area --}}
<!-- <main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="archive-list">
            {{#get 'posts' limit='all'}}
            {{#group posts by='function (item) {  var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; return monthNames[(new Date(item.published_at).getMonth())]+" "+(new Date(item.published_at)).getFullYear(); } '}}
                <b>{{ key }} </b>
                <br>
                {{#each items}}
                <span>
                    {{#if featured}}
                    <span class='fa fa-star'></span>
                    {{/if}}
                    {{date published_at format="MMM DD, YYYY"}}:&nbsp;
                    <a href="{{url}}">{{title}} </a>
                </span>
                <br>
                {{/each}}
            {{/group}}
            {{/get}}
        </div>
    </div>
</main>
 -->
