{{!< default}}

<<<<<<< HEAD
{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}


{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="archive-list">
            {{#get 'posts' limit='all'}}
            {{#group posts by='function (item) {  var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; return monthNames[(new Date(item.published_at).getMonth())]+" "+(new Date(item.published_at)).getFullYear(); } '}}
                <b>{{ key }} </b>
                <br>
                {{#each items}}
                <span>
                    {{#if featured}}
                    <span class='fa fa-star'></span>
                    {{/if}}
                    {{date published_at format="MMM DD, YYYY"}}:&nbsp;
                    <a href="{{url}}">{{title}} </a>
                </span>
                <br>
                {{/each}}
            {{/group}}
            {{/get}}
        </div>
    </div>
=======
<header class="site-header outer">
<div class="inner">
{{> "site-nav"}}
</div>
</header>

{{#post}}

<main id="site-main" class="site-main outer" role="main">
<div class="inner">
<header class="post-full-header">
<h1 class="post-full-title">{{title}}</h1>
</header>

{{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
{{#foreach tags}}

<h2>{{ name }} <small>({{ count.posts }})</small></h2>

{{/foreach}}
{{/get}}

</div>
>>>>>>> 279f333772765e7606f821ce603bb7e31fa2e60e
</main>

{{/post}}
