{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{!-- {{#get 'posts' limit='all'}}
{{#group posts by='function (item) {  var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; return monthNames[(new Date(item.published_at).getMonth())]+" "+(new Date(item.published_at)).getFullYear(); } '}}
    <b>{{ key }} </b>
    <br>
    {{#each items}}
    <span>
        {{#if featured}}
        <span class='fa fa-star'></span>
        {{/if}}
        {{date published_at format="MMM DD, YYYY"}}:&nbsp;
        <a href="{{url}}">{{title}} </a>
    </span>
    <br>
    {{/each}}
{{/group}}
{{/get}} --}}

{{#author}}
{{!-- Everything inside the #author tags pulls data from the author --}}


{{> header background=cover_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
    <div class="inner">
        <div>
            {{#if profile_image}}
                <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
            {{/if}}
            <h1 class="site-title generatedTitle">{{name}}</h1>
            {{#if bio}}
                <h2 class="author-bio">{{bio}}</h2>
            {{/if}}
            <div class="author-meta">
                {{#if location}}
                    <div class="author-location">{{location}} <span class="bull">&bull;</span></div>
                {{/if}}
                <div class="author-stats">
                    {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} <span class="bull">&bull;</span>
                </div>
                {{#if website}}
                    <a class="social-link social-link-wb" href="{{website}}" target="_blank" rel="noopener">{{> "icons/website"}}</a>
                {{/if}}
                {{#if twitter}}
                    <a class="social-link social-link-tw" href="{{twitter_url}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
                {{#if facebook}}
                    <a class="social-link social-link-fb" href="{{facebook_url}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                {{/if}}
                <a class="social-link social-link-rss" href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
            </div>
        </div>
    </div>
</header>
{{/author}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
